*{
    font-family: 'Poppins';
    align-items: center;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    margin-top: 10px;
}
.tabel-data{
    display: flex;
    flex-direction: column;
}
td, th {
    border: 1px solid #C6C6C6;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.edit{
    background-color: blue;
    border-radius: 10px;
    border: none;
    color: white;
}
.delete{
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
}
.judul-tabel{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5%
}